<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="content mt-3">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Create New Book</strong>
                    </div>
                    <div class="card-body card-block">
                        <form class="form-horizontal" action="/bookcreate/submit" enctype="multipart/form-data" method="post" th:object="${bookModel}">
                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">Id</label></div>
                                <div class="col-12 col-md-9">
                                    <p class="form-control-static" th:text="${maxId}"></p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label" for="title">Title</label></div>
                                <div class="col-12 col-md-9"><input th:field="*{title}"  class="form-control" type="text" placeholder="Enter title"><small class="form-text text-muted" th:if="${#fields.hasErrors('title')}">Please enter title</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label" for="author">Author</label></div>
                                <div class="col-12 col-md-9"><input th:field="*{author}" class="form-control" type="text" placeholder="Enter Author"><small class="help-block form-text">Please enter author</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label" for="publisher">Publisher</label></div>
                                <div class="col-12 col-md-9"><input th:field="*{publisher}" class="form-control"  type="text" placeholder="Enter publisher"><small class="help-block form-text">Please enter publisher</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label" for="select">Select</label></div>
                                <div class="col-12 col-md-9">
                                    <select class="form-control" th:name="categoryModel.id">
                                        <option value="0">Please select</option>
                                        <option th:each="cate :${categories}" th:object="${cate}" th:text="*{name}" th:value="*{id}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label" for="file">File input</label></div>
                                <div class="col-12 col-md-9"><input name="file" class="form-control-file" id="file" type="file"></div>
                            </div>
                            <div class="content mt-3">
                                <div class="row form-group">
                                    <div class="col-6 col-md-6"></div>
                                    <div class="col col-md-3">
                                        <button class="btn btn-primary btn-md" type="submit">
                                            <i class="fa fa-upload"></i> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>