<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <div class="content mt-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="card col-6" th:object="${book}">
                <img class="img-responsive" th:src="*{image_url}" alt="Card image cap" width="100" height="100">
                <div class="card-body">
                    <h5 style="color: #00bcd4" class="card-title" th:text="*{'Title: '+title}">Card title</h5>
                    <p th:text="*{'Author: '+author}"></p>
                    <p th:text="*{'Publisher: '+publisher}"></p>
                    <p th:text="*{'Category: '+categoryModel.name}"></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>