<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<!--content-->
<div layout:fragment="content">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Categories</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th th:text="#{table.id}">Id</th>
                                    <th th:text="#{category}">Name</th>
                                    <th th:text="#{table.action}">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cate :${categories}" th:object="${cate}">
                                    <td th:text="*{id}"></td>
                                    <td th:text="*{name}"></td>
                                    <td >
                                        <!--edit-->
                                        <a th:href="@{/cateupdate(id=*{id})}">
                                            <button class="btn btn-success">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                        <!--delete-->
                                        <a >
                                            <button class="btn btn-danger" data-toggle="modal" th:data-target="*{'#modalConfirmDelete'+id}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </a>
                                        <!--Modal: modalConfirmDelete-->
                                        <div class="modal fade" th:id="*{'modalConfirmDelete'+id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                                <!--Content-->
                                                <div class="modal-content text-center">
                                                    <!--Header-->
                                                    <div class="modal-header d-flex justify-content-center">
                                                        <p class="heading">Are you sure?</p>
                                                    </div>

                                                    <!--Body-->
                                                    <div class="modal-body">

                                                        <i class="fa fa-times fa-4x animated rotateIn"></i>

                                                    </div>

                                                    <!--Footer-->
                                                    <div class="modal-footer flex-center">
                                                        <a th:href="@{/catedelete(id=*{id})}" class="btn  btn-outline-danger">Yes</a>
                                                        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                                                    </div>
                                                </div>
                                                <!--/.Content-->
                                            </div>
                                        </div>
                                        <!--Modal: modalConfirmDelete-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div>
<!--script-->
<div layout:fragment="script">

    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/jszip.min.js"></script>
    <script src="assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/lib/data-table/datatables-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#bootstrap-data-table-export').DataTable();
        } );
    </script>
</div>
</body>
</html>