<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong>Create New Book</strong>
                </div>
                <div class="card-body card-block">
                    <form class="form-horizontal" action="/bookupdate/submit"  method="post" th:object="${categorie}">
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Id</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static" th:text="*{id}"></p>
                            </div>
                        </div>
                        <!-- start hidden field-->
                        <div>
                            <input th:field="*{id}" type="hidden">
                        </div>
                        <!--end hidden field-->
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label" for="name">Title</label></div>
                            <div class="col-12 col-md-9"><input th:field="*{name}"  class="form-control" type="text" placeholder="Enter title"><small class="form-text text-muted">Please enter name</small></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6 col-md-6"></div>
                            <div class="col col-md-3">
                                <button class="btn btn-primary btn-md" type="submit">
                                    <i class="fa fa-upload"></i> Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>