<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <div class="content mt-3">
        <div class="row">
            <div class="col-lg-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-book text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text"><h4>Total Book</h4></div>
                                <div class="stat-digit" th:text="${totalBook}">1,012</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-list-alt text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text"><h4>Total Category Book</h4></div>
                                <div class="stat-digit" th:text="${totalCategory}">1,012</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>